@import 'tailwindcss';

@theme {
  --font-rubik: 'Rubik', sans-serif;
  --font-rubik-mono-one: 'Rubik Mono One', sans-serif;
  --font-dmsans: 'DM Sans', sans-serif;
  --font-caprasimo: 'Caprasimo', serif;
  --color-theme-pink: #f52f66;
  --color-theme-beige: #f0ece7;
  --color-theme-orange: #fa8173;
  --color-theme-lightpink: #f75a89;
  --color-theme-gray: #686869;
}

button {
  font-family: 'DM Sans', sans-serif !important;
}

.mantine-Input-input {
  &:focus-within {
    border: var(--color-theme-pink) 1px solid;
  }
}
